.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-bottom: 25px;

	@media (min-width: $desktop-width) {
		align-items: flex-end;
	}
}

.copyright__text {
	margin-bottom: 15px;

	font-weight: normal;

	@media (min-width: $desktop-width) {
		margin-right: 38px;
	}
}

.copyright__link {
	color: var(--milk-white-color);
	border: 1px solid rgba($color: #ffffff, $alpha: 0.1);

	@media (min-width: $desktop-width) {

		&:hover {
			border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
		}
	}
}
