.page-footer {
	position: relative;

	padding-top: 40px;

	@media (min-width: $tablet-width) {
		padding-top: 50px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: -35px;
		height: 35px;
		background-image: url('../../img/corner-double-dark.svg');
		background-repeat: no-repeat;
		background-size: cover;

		@media (min-width: $tablet-width) {
			display: none;
		}
	}
}

.page-footer__wrapper {
	@media (min-width: $tablet-width) {
		position: relative;

		width: 768px;
		margin: 0 auto;
		padding-left: $tablet-padding;
		padding-right: $tablet-padding;
	}
}

.page-footer__contacts {
	margin-bottom: 25px;
}

.page-footer__social {
	margin-bottom: 30px;
}

.page-footer__copyright {
	@media (min-width: $tablet-width) {
		position: absolute;
		top: 0;
		right: 30px;

		padding-bottom: 0;
	}
}
