.form-main {
	position: relative;
	padding-top: 80px;
	padding-bottom: 75px;

	color: var(--dark-grey-color);
	background-color: var(--milk-white-color);

	@media (min-width: $tablet-width) {
		padding-top: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin-top: -45px;
			height: 45px;
			background-image: url('../../img/corner-white.svg');
			background-repeat: no-repeat;
			background-size: cover;

			@media (min-width: $desktop-width) {
				margin-top: -70px;
				height: 70px;
			}
		}
	}
}

.form-main__wrapper {
	@media (min-width: $desktop-width) {
		position: relative;
		width: 768px;

		margin: 0 auto;
		padding-top: 60px;
		padding-left: $tablet-padding;
		padding-right: $tablet-padding;
	}

	@media (min-width: $desktop-width) {
		width: 1040px;
		padding-left: $desktop-padding;
		padding-right: $desktop-padding;
	}
}

.form-main__form {
	overflow: hidden;
}

.form-main__title {
	margin-bottom: 30px;

	@media (min-width: $tablet-width) {
		margin-bottom: 65px;
	}
}

.form-main__link {
	display: none;

	@media (min-width: $tablet-width) {
		display: flex;
		position: absolute;
		top: 60px;
		right: 30px;

		color: var(--dark-grey-color);
		border: 1px solid var(--border-light-grey-color);
	}

	@media (min-width: $desktop-width) {
		right: 40px;
	}
}

.form__fieldset {
	margin: 0;
	padding: 0;
	padding-left: $phone-padding;
	padding-right: $phone-padding;
	border: none;

	@media (min-width: $tablet-width) {
		padding-left: 0;
		padding-right: 0;
	}

	&--top {

		margin-bottom: 40px;

		label {
			display: block;
			margin-bottom: 5px;
		}

		input,
		textarea {
			width: 100%;
			transition: border-color 0.2s;
		}

		input {
			height: 50px;

			padding: 0;
			padding-left: 20px;
			padding-right: 20px;

			border: 1px solid var(--border-light-grey-color);

			&::placeholder {
				font-family: 'PT Sans Narrow', Arial, sans-serif;
				font-size: 18px;
				line-height: 30px;
				color: #9f9f9f;
			}
		}

		label:nth-of-type(3) {
			margin-bottom: 30px;
		}

		label:nth-of-type(6) {
			margin-top: 30px;
		}

		@media (min-width: $tablet-width) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-row-gap: 35px;

			margin-bottom: 55px;

			label {
				margin-bottom: 0;
			}

			@media (max-width: $tablet-max-width) {
				label:nth-of-type(1),
				label:nth-of-type(2) {

					input {
						border-right: none;
					}
				}
			}

			label:nth-of-type(1) {
				@media (min-width: $desktop-width) {
					grid-column: 1 / 3;
				}
			}

			label:nth-of-type(2) {
				@media (min-width: $desktop-width) {
					grid-column: 3 / 5;
				}
			}

			label:nth-of-type(3) {
				margin-bottom: 0;

				@media (min-width: $desktop-width) {
					grid-column: 5 / 7;
				}
			}

			label:nth-of-type(4) {
				grid-column: 1 / -1;

				@media (min-width: $desktop-width) {
					grid-column: 1 / 4;
				}
			}

			label:nth-of-type(5) {
				grid-column: 1 / -1;

				@media (min-width: $desktop-width) {
					grid-column: 4 / 7;
				}
			}

			label:nth-of-type(6) {
				margin-top: 0;
				grid-column: 1 / -1;
			}
		}

		@media (min-width: $desktop-width) {
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 35px;

			input:hover {
				border-color: #d5c9bd;
			}

			textarea:hover {
				border-color: #d5c9bd;
			}
		}

	}

	&--mid {
		margin-bottom: 40px;

		@media (min-width: $tablet-width) {
			margin-bottom: 60px;
		}

		.form__fieldset-wrapper {
			display: flex;
			flex-wrap: wrap;

			label {
				position: relative;
				display: flex;
				justify-content: center;
				padding-top: 70px;
				width: calc(100% / 3);

				background-repeat: no-repeat;
				background-position: 50% 100%;
				cursor: pointer;

				@media (min-width: $tablet-width) {
					width: calc(100% / 5);
				}

				@media (min-width: $desktop-width) {
					&:hover {
						span {
							&::before {
								border-color: #d5c9bd;
							}

							&::after {
								background-color: #d5c9bd;
								border-color: #d5c9bd;
							}
						}
					}
				}

				span {
					height: fit-content;

					&::before,
					&::after {
						content: '';
						position: absolute;
						border-radius: 50%;
						transform: translatex(-50%);
						background-color: #ffffff;
						border: 1px solid var(--border-light-grey-color);
					}

					&::before {
						top: 10px;
						left: 50%;
						width: 52px;
						height: 52px;
						transition: 0.2s;
					}

					&::after {
						top: 27px;
						left: 50%;
						width: 18px;
						height: 18px;
						background-color: var(--border-light-grey-color);
						opacity: 0;
						transition: 0.2s;
					}
				}
			}
		}
	}

	&--bot {
		margin-bottom: 45px;

		@media (min-width: $tablet-width) {
			margin-bottom: 60px;
		}

		@media (min-width: $desktop-width) {
			margin-bottom: 80px;
		}

		.form__fieldset-wrapper {
			display: flex;
			flex-direction: column;

			padding-left: 37px;

			@media (min-width: $tablet-width) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 40px;

				padding-left: 0;
			}

			@media (min-width: $desktop-width) {
				grid-template-columns: 1fr 1fr 1fr;

				label:hover {
					span::before {
						border-color: #d5c9bd;
					}
				}
			}

			label {
				position: relative;
				padding: 11px 0 11px 60px;
				cursor: pointer;
			}

			span {
				&::before,
				&::after {
					position: absolute;
					content: '';
				}

				&::before {
					left: 0;
					top: 50%;
					width: 36px;
					height: 36px;
					background-color: #ffffff;
					border: 1px solid var(--border-light-grey-color);
					transform: translateY(-50%);
					transition: border-color 0.2s;
				}

				&::after {
					top: 17px;
					left: 6px;
					width: 25px;
					height: 10px;
					border-bottom: 2px solid var(--dark-grey-color);
					border-left: 2px solid var(--dark-grey-color);
					transform: rotate(-45deg);
					opacity: 0;
					transition: opacity 0.2s;
				}
			}
		}
	}
}

.form__textarea {
	resize: none;
	padding: 20px;
	height: 150px;
	border: 1px solid var(--border-light-grey-color);

	&::placeholder {
		font-family: 'PT Sans Narrow', Arial, sans-serif;
		font-size: 18px;
		line-height: 30px;
		color: #9f9f9f;
	}
}

.form__legend {
	display: flex;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	font-size: 20px;
	text-transform: uppercase;

	@media (min-width: $tablet-width) {
		position: relative;

		margin-bottom: 45px;

		font-size: 30px;
		line-height: 30px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: var(--border-light-grey-color);
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			left: -110%;
		}

		&::after {
			right: -110%;
		}
	}
}

.form__admiral-radio {
	height: 150px;
	background-image: url('../../img/beard-1.svg');
}

.form__lumberjack-radio {
	height: 170px;
	background-image: url('../../img/beard-2.svg');
}

.form__polar-radio {
	height: 180px;
	background-image: url('../../img/beard-3.svg');
}

.form__boyar-radio {
	height: 200px;
	background-image: url('../../img/beard-4.svg');
}

.form__sage-radio {
	height: 205px;
	background-image: url('../../img/beard-5.svg');
}

.form__button {
	color: var(--milk-white-color);
	margin: 0 auto;
	border: none;
	background-color: var(--light-send-color);
	transition: 0.2s;

	@media (min-width: $tablet-width) {
		width: 100%;
	}

	@media (min-width: $desktop-width) {
		background-color: var(--light-send-color);

		&:hover {
			background-color: var(--dark-send-color);
		}

		&:active {
			color: rgba($color: #ffffff, $alpha: 0.3);
		}

		&:disabled {
			background-color: #aeaeae;
		}
	}
}

input[type=radio]:checked + span::after,
input[type=checkbox]:checked + span::after {
	opacity: 1;
}
