.main-nav {
	position: absolute;
	z-index: 1;
	display: flex;
	width: 100%;

	@media (min-width: $tablet-width) {
		align-items: center;
		position: static;
		order: -1;

		margin: 0;

		background-color: #000000;
	}
}

@media (max-width: $phone-max-width) {
	.main-nav--closed .site-list__item:not(.site-list__item--active),
	.main-nav--closed .user-list {
		display: none;
	}

	.main-nav--closed .main-nav__button {
		order: 1;
	}

	.main-nav--closed .site-list__item--active a {
		transform: translateX(35px);
		justify-content: center;
	}
}


.main-nav__button {
	display: flex;
	order: 0;
	justify-content: center;
	align-items: center;

	width: 70px;
	height: 51px;

	margin-top: -1px;
	padding: 0;

	border: none;
	background-color: var(--dark-send-color);

	@media (min-width: $tablet-width) {
		display: none;
	}

}

.main-nav__wrapper {
	flex-grow: 1;

	@media (min-width: $tablet-width) {
		display: flex;
		justify-content: space-between;
		flex-grow: 0;

		width: 768px;

		margin: 0 auto;

		padding-left: $tablet-padding;
		padding-right: $tablet-padding;
	}

	@media (min-width: $desktop-width) {
		width: 1040px;

		padding-left: $desktop-padding;
		padding-right: $desktop-padding;
	}
}

.main-nav__list {
	@include reset-list();
}
