.main-nav {
	position: absolute;
	display: flex;
	width: 100%;

	@media (min-width: $tablet-width) {
		width: auto;
		margin: 0;
	}
}

.main-nav--closed .site-list__item:not(.site-list__item--active),
.main-nav--closed .user-list {
	display: none;
}

.main-nav--closed .main-nav__button {
	order: 1;
}

.main-nav--closed .site-list__item--active {
	justify-content: center;
}

.main-nav--closed .site-list__item--active a {
	transform: translateX(35px);
}


.main-nav__button {
	display: flex;
	order: 0;
	justify-content: center;
	align-items: center;

	width: 70px;
	height: 51px;

	margin-top: -1px;
	padding: 0;

	border: none;
	background-color: var(--bg-dark-send);

	@media (min-width: $tablet-width) {
		display: none;
	}

}

.main-nav__wrapper {
	flex-grow: 1;

	@media (min-width: $tablet-width) {
		display: flex;
		justify-content: space-between;
		width: 640px;
		margin: 0 auto;
	}

	@media (min-width: $desktop-width) {
		width: 960px;
	}
}

.main-nav__list {
	@include reset-list();
}
