.news {
	position: relative;
	padding-top: 35px;
	padding-bottom: 30px;

	color: var(--dark-grey-color);
	background-color: var(--milk-white-color);
	border-bottom: 1px solid #e5ddd5;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: -35px;
		height: 35px;
		background-image: url('../../img/corner-white.svg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.news__title {
	margin-bottom: 30px;
}

.news__list {
	max-width: 360px;

	list-style: none;

	margin: 0 auto;
	margin-bottom: 5px;
	padding: $phone-padding;
}

.news__date {
	position: relative;
	display: block;
	flex-shrink: 0;
	z-index: 6;
	width: 50px;
	height: 50px;

	margin-right: 20px;

	color: var(--milk-white-color);
	text-align: center;

	background-color: var(--dark-grey-color);

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		top: 50px;
		width: 0;
		height: 0;
		border-top: 15px var(--dark-grey-color) solid;
		border-bottom: 15px transparent solid;
		border-left: 25px transparent solid;
		border-right: 25px transparent solid;
	}
}

.news__text {
	margin: 0;
	margin-top: -5px;
}

.news__item {
	display: flex;

	&:first-child {
		margin-bottom: 40px;
	}
}

.news__to-all {
	margin: 0 auto;

	color: var(--dark-grey-color);
	background-color: var(--milk-white-color);
	border: 1px solid var(--dark-grey-color);
}
