.news {
	position: relative;
	padding-top: 35px;
	padding-bottom: 30px;

	color: var(--dark-grey-color);
	background-color: var(--milk-white-color);

	@media (min-width: $tablet-width) {
		padding-top: 50px;
		padding-left: $tablet-padding;
		padding-right: $tablet-padding;
		padding-bottom: 40px;

		border-bottom: 1px solid var(--border-grey-color);
	}

	@media (min-width: $desktop-width) {
		border-color: var(--border-light-grey-color);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: -35px;
		height: 35px;
		background-image: url('../../img/corner-white.svg');
		background-repeat: no-repeat;
		background-size: cover;

		@media (min-width: $desktop-width) {
			height: 70px;
			margin-top: -70px;
		}
	}
}

.news__wrapper {
	position: relative;

	@media (min-width: $tablet-width) {
		width: 708px;
		margin: 0 auto;
	}

	@media (min-width: $desktop-width) {
		width: 960px;
	}
}

.news__title {
	margin-bottom: 30px;

	@media (min-width: $tablet-width) {
		margin-bottom: 50px;
	}

	@media (min-width: $desktop-width) {
		margin-left: 70px;
	}
}

.news__list {
	max-width: 360px;

	list-style: none;

	margin: 0 auto;
	margin-bottom: 5px;
	padding: $phone-padding;

	@media (min-width: $tablet-width) {
		display: flex;
		justify-content: flex-start;
		max-width: unset;

		padding: 0;
		margin: 0;
	}
}

.news__item-wrapper {
	display: flex;
	text-decoration: none;
	color: inherit;

	@media (min-width: $desktop-width) {
		width: 320px;

		&:hover {
			.news__text {
				text-decoration: underline;
				color: var(--dark-send-color);
			}

			.news__date {
				background-color: var(--dark-send-color);
				&::after {
					border-top-color: var(--dark-send-color);
				}
			}
		}
	}

	&:not(.news__item--no-hidden) {
		display: none;

		@media (min-width: $desktop-width) {
			display: flex;
		}
	}

	&:first-child {
		margin-bottom: 40px;

		@media (min-width: $tablet-width) {
			margin-bottom: 0;
			margin-right: 50px;
		}

		@media (min-width: $desktop-width) {
			margin-right: 0;
		}
	}
}

.news__date {
	position: relative;
	display: block;
	flex-shrink: 0;
	z-index: 6;

	width: 50px;
	height: 50px;

	margin-right: 20px;

	line-height: 20px;
	color: var(--milk-white-color);
	text-align: center;

	background-color: var(--dark-grey-color);
	transition: 0.2s;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		top: 50px;
		width: 0;
		height: 0;
		border-top: 15px var(--dark-grey-color) solid;
		border-bottom: 15px transparent solid;
		border-left: 25px transparent solid;
		border-right: 25px transparent solid;
		transition: 0.2s;
	}
}

.news__day {
	font-size: 30px;
	line-height: 30px;
}

.news__text {
	margin: 0;
	margin-top: -5px;
	transition: 0.2s;

	@media (min-width: $desktop-width) {
		width: 210px;
	}
}

.news__to-all {
	margin: 0 auto;

	color: var(--dark-grey-color);
	background-color: var(--milk-white-color);
	border: 1px solid var(--border-grey-color);

	@media (min-width: $tablet-width) {
		position: absolute;
		top: 0;
		right: 0;
	}

	@media (min-width: $desktop-width) {
		border: 1px solid var(--border-light-grey-color);
	}
}
