.our-works {
	padding-top: 30px;
	padding-left: $phone-padding;
	padding-right: $phone-padding;
	padding-bottom: 50px;
	color: var(--dark-grey-color);
	background-color: var(--milk-white-color);

	@media (min-width: $tablet-width) {
		position: relative;
		width: 768px;

		margin: 0 auto;
		padding-top: 60px;
		padding-left: $tablet-padding;
		padding-right: $tablet-padding;
		padding-bottom: 60px;
	}
}

.our-works__title {
	margin-bottom: 30px;

	@media (min-width: $tablet-width) {
		margin-bottom: 50px;
	}
}

.our-works__link {
	display: none;

	@media (min-width: $tablet-width) {
		display: flex;
		position: absolute;
		top: 60px;
		right: 30px;

		color: var(--dark-grey-color);
		background-color: var(--milk-white-color);
		border: 1px solid var(--border-grey-color);
	}
}

.our-works__example {
	width: 280px;

	margin: 0 auto;
	margin-bottom: 20px;

	border: 1px solid var(--border-light-grey-color);

	&--top {
		position: relative;
	}

	@media (min-width: $tablet-width) {
		display: flex;
		width: 100%;

		margin-bottom: 40px;
	}
}

.our-works__picture {
	margin-bottom: 20px;

	@media (min-width: $tablet-width) {
		flex-shrink: 0;
		margin-right: 50px;
		margin-bottom: 0;

		& picture {
			display: flex;
		}
	}
}

.our-works__wrapper {
	@media (min-width: $tablet-width) {
		display: flex;
		flex-direction: column;

		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
	}
}

.our-works__best {
	position: absolute;
	top: 51%;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 50px;
	padding-left: 25px;
	padding-right: 20px;

	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;

	color: var(--milk-white-color);
	background-color: var(--light-send-color);

	@media (min-width: $tablet-width) {
		top: 8%;
	}

	&::after {
		position: absolute;
		right: -30px;
		content: '';
		width: 50px;
		height: 10px;
		background-image: url('../../img/corner-double-send.svg');
		transform: rotate(90deg);
	}
}

.our-works__author-name {
	margin-left: 20px;

	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	color: #000000;

	@media (min-width: $tablet-width) {
		margin-bottom: 35px;
		margin-left: 0;
	}
}

.our-works__author-text {
	margin: 20px 20px 25px 20px;

	@media (min-width: $tablet-width) {
		margin: 0;
		margin-bottom: auto;
	}
}

.our-works__services-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include reset-list;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;

	@media (min-width: $tablet-width) {
		margin: 0;
	}
}

.our-works__services-item {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 118px;
	min-height: 30px;

	margin-bottom: 10px;

	text-transform: uppercase;

	background-position: 0 50%;
	background-repeat: no-repeat;

	&--haircut {
		background-image: url('../../img/scissors-icon.svg');
		background-size: 21px 20px;
	}

	&--beard {
		background-image: url('../../img/beard-icon.svg');
		background-size: 23px 21px;
	}

	&--mustache {
		padding-left: 10px;
		background-image: url('../../img/mustache-icon.svg');
		background-size: 45px 12px;
	}
}
