.page-header {

	@media (min-width: $tablet-width) {
		display: flex;
		flex-direction: column;

		background-color: var(--dark-grey-color);
	}
}

.page-header__logo {
	display: block;
	height: 85px;
	text-align: center;

	@media (min-width: $tablet-width) {

		width: 100%;
		height: 400px;

		background-color: var(--dark-grey-color);
		background-image: url('../../img/back-tablet.jpg');
		background-repeat: no-repeat;
		background-position: center -9px;
	}

	@media (min-width: $desktop-width) {
		height: 648px;
		background-image: url('../../img/back-desktop.jpg');
		background-position: center 0;
		background-size: cover;
	}
}

.page-header__logo img {
	width: 226px;
	height: 85px;

	@media (min-width: $tablet-width) {
		display: block;
		width: 370px;
		height: auto;
		margin: 0 auto;
		margin-top: 40px;
	}

	@media (min-width: $desktop-width) {
		margin-top: 57px;
	}
}

// PHOTO PAGE

.page-header-photo {

	@media (min-width: $tablet-width) {
		& .page-header__logo {
			height: 210px;

			background-size: cover;
			background-position: center -75px;
		}

	}
}
