.reviews {
	padding-top: 35px;
	padding-bottom: 55px;

	color: #000000;
	background-color: var(--bg-milk-white);
}

.reviews__list {
	margin-bottom: 30px;
}

.reviews__title {
	margin-bottom: 35px;
}

.reviews__item {
	display: none;
	position: relative;
	max-width: 360px;

	margin: 0 auto;
	padding-left: 90px;
	padding-right: $phone-padding;

	&--show {
		display: block;
	}
}

.reviews__author-picture {
	position: absolute;
	top: 10px;
	left: 20px;
	overflow: hidden;

	width: 50px;
	height: 50px;

	margin: 0;

	border-radius: 50%;

	& picture {
		display: flex;
	}

	& img {
		max-width: unset;
		width: 100px;
		margin-left: -25px;
	}
}

.reviews__author-name {
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
}

.reviews__text {
	margin: 0;
}

.reviews__prev {
	display: none;
}

.reviews__next {
	display: none;
}

.reviews__write {
	margin: 0 auto;
	color: #000000;
	background-color: var(--bg-milk-white);
	border: 1px solid #e5ddd5;
}

.reviews__toggles {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-bottom: 30px;

	& button {
		width: 10px;
		height: 10px;

		margin-right: 20px;

		border: 1px solid #000000;

		transform: rotate(45deg);
	}
}
