.site-list {
	background-color: var(--bg-light-send);

	@media (min-width: $tablet-width) {
		width: 570px;
	}

	@media (min-width: $desktop-width) {
		width: 780px;
	}
}

.site-list__item {
	display: flex;
	justify-content: start;
	align-items: center;

	height: 50px;

	padding: 0 20px;

	font-weight: bold;
	text-transform: uppercase;

	box-shadow: 0 -1px 0 #71543f, inset 0 1px 0 #886e5b;
	background-color: #826550;

	& a {
		line-height: 24px;
		color: #ffffff;
		text-decoration: none;
	}
}
