.slider__list {
	@include reset-list();
}

.slider__item {
	display: none;

	&--show {
		display: block;
	}
}

.slider__toggle {
	display: block;

	font-size: 0;

	padding: 0;

	background-color: transparent;
	border: none;

	&:last-child {
		margin-right: 0;
	}
}
