@keyframes show {
	0% { opacity: 0.6; }
	100% { opacity: 1; }
}

.slider__list {
	@include reset-list();
}

.slider__item {
	display: none;

	&--show {
		display: block;
		animation: show 0.2s;
	}
}

.slider__toggle {
	display: block;

	font-size: 0;

	padding: 0;

	background-color: transparent;
	border: none;
	transition: all 0.2s;

	&:last-child {
		margin-right: 0;
	}
}
