.stats {
	margin: 0 auto;
	margin-bottom: 40px;

	@media (min-width: $tablet-width) {
		// margin-top: -185px;
	}

	@media (min-width: $desktop-width) {
		display: flex;
		width: 960px;
		margin-top: -164px;
		margin-bottom: 90px;
	}
}

.stats__header {
	padding: 30px 40px 25px 40px;

	color: var(--dark-grey-color);
	background-color: var(--milk-white-color);

	@media (min-width: $tablet-width) {
		position: relative;
		display: flex;
		width: 708px;
		height: 190px;

		margin: 0 auto;
		margin-top: -190px;

		&-wrapper {
			width: 50%;
		}

		&::before {
			position: absolute;
			content: '';
			left: -24px;
			top: 40px;
			width: 0;
			height: 0;
			border-top: 12px var(--milk-white-color) solid;
			border-bottom: 12px transparent solid;
			border-left: 12px transparent solid;
			border-right: 12px var(--milk-white-color) solid;
		}
	}

	@media (min-width: $desktop-width) {
		flex-direction: column;
		width: 320px;
		height: auto;
		margin-top: 0;

		&-wrapper {
			width: auto;
		}
	}
}

.stats__slogan {
	display: block;
	text-align: center;

	margin-bottom: 20px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	@media (min-width: $tablet-width) {
		font-size: 40px;
		line-height: 40px;
		text-align: left;
		text-transform: none;
	}

	@media (min-width: $desktop-width) {
		margin-bottom: 45px;
	}
}

.stats__intro {
	margin: 0;

	font-size: 20px;
	text-align: center;

	@media (min-width: $tablet-width) {
		width: 36%;

		text-align: left;
	}

	@media (min-width: $desktop-width) {
		width: 85%;
		margin-bottom: 30px;
	}
}

.stats__list {
	border-collapse: collapse;
	width: 100%;

	margin-bottom: 15px;

	background-color: var(--light-grey-color);

	& tr {
		display: flex;
		align-items: center;
		padding: 15px;

		@media (min-width: $tablet-width) {
			flex-direction: column;
			align-items: flex-start;
			width: 50%;
			padding: 30px 35px;

			&:first-child,
			&:last-child {
				background-color: var(--mid-grey-color);
			}
		}
	}

	@media (max-width: $phone-max-width) {
		& tr:nth-child(2n) {
			background-color: var(--mid-grey-color);
		}
	}

	@media (min-width: $tablet-width) {
		width: 708px;

		margin: 0 auto;

		& tbody {
			display: flex;
			flex-wrap: wrap;
		}
	}

	@media (min-width: $desktop-width) {
		width: 640px;
	}
}

.stats__value {
	width: 50%;

	padding: 0;

	line-height: 40px;
	font-size: 40px;
	font-weight: bold;

	@media (min-width: $tablet-width) {
		width: auto;

		font-size: 72px;
		line-height: 72px;

		margin-bottom: 5px;
	}
}

.stats__field {
	width: 50%;

	padding: 0;
	line-height: 18px;
	text-align: right;

	@media (min-width: $tablet-width) {
		width: auto;

		text-align: left;
		font-size: 20px;
		line-height: 27px;

		& br {
			display: none;
		}
	}
}

.stats__legend {
	display: block;

	text-align: center;
	font-size: 20px;

	opacity: 0.3;

	&--top {
		display: none;

		@media (min-width: $tablet-width) {
			display: block;
			position: absolute;
			bottom: 30px;

			text-align: left;
		}

		@media (min-width: $desktop-width) {
			position: static;
			order: 1;
		}
	}

	@media (min-width: $tablet-width) {
		&--bottom {
			display: none;
		}
	}
}
