.user-list {
	background-color: var(--bg-dark-send);

	@media (min-width: $tablet-width) {
		width: 60px;
	}

	@media (min-width: $desktop-width) {
		width: 160px;
	}
}

.user-list__item {
	display: flex;
	justify-content: start;
	align-items: center;

	height: 50px;

	padding: 0 20px;

	background-color: var(--bg-dark-send);
}

.user-list__login {
	position: relative;
	display: block;

	padding-left: 20px;

	line-height: 24px;
	color: #ffffff;
	text-decoration: none;

	& svg {
		position: absolute;
		top: 50%;
		left: 0;

		transform: translateY(-50%);
	}
}
