.works-price {
	position: relative;

	padding-top: 35px;
	padding-bottom: 50px;

	background-color: var(--mid-grey-color);

	@media (min-width: $tablet-width) {
		padding-top: 45px;
		padding-bottom: 55px;
	}

	@media (min-width: $tablet-width) {
		padding-top: 75px;
		padding-bottom: 80px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin-top: -35px;
		height: 35px;
		background-image: url('../../img/corner-double-light-dark.svg');
		background-repeat: no-repeat;
		background-size: cover;

		@media (min-width: $tablet-width) {
			margin-top: -45px;
			height: 45px;
		}

		@media (min-width: $desktop-width) {
			display: none;
		}
	}
}

.works-price__wrapper {
	width: 320px;

	margin: 0 auto;
	padding-left: $phone-padding;
	padding-right: $phone-padding;

	@media (min-width: $tablet-width) {
		width: 768px;

		margin: 0 auto;
		padding-left: $tablet-padding;
		padding-right: $tablet-padding;
	}

	@media (min-width: $desktop-width) {
		display: grid;
		grid-template-areas: 'a a'
												 'b c';
		gap: 50px;
		width: 1040px;
		padding-left: $desktop-padding;
		padding-right: $desktop-padding;
	}
}

.works-price__title {
	margin-bottom: 30px;

	@media (min-width: $tablet-width) {
		margin-bottom: 50px;
	}

	@media (min-width: $desktop-width) {
		grid-area: a;
		margin-bottom: 0;
	}
}

.works-price__list {

	@media (min-width: $tablet-width) {
		width: 100%;
		margin-bottom: 10px;
		border-collapse: collapse;

		& td {
			width: fit-content;
			padding: 20px 30px;
			border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
		}
	}

	@media (min-width: $desktop-width) {
		grid-area: b;

		margin-bottom: 0;

		& td {
			padding: 15px 30px;
		}
	}

	& tr {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		width: 280px;
		margin-bottom: 20px;

		font-size: 20px;

		@media (min-width: $tablet-width) {
			display: table-row;
			width: auto;
		}
	}

	&-number {
		display: none;

		@media (min-width: $tablet-width) {
			display: table-cell;
			text-align: center;
		}
	}

	&-style {
		width: 190px;

		font-weight: bold;
	}

	&-option {
		order: 1;

		@media (min-width: $tablet-width) {
			& span {
				display: none;
			}
		}
	}

	&-price {
		width: 75px;
		text-align: right;

		@media (min-width: $tablet-width) {
			width: auto;
			text-align: left;
		}
	}
}

.works-price__discont {
	width: 280px;
	margin: 0 auto;
	padding: 20px 45px 20px 110px;

	font-size: 20px;
	font-weight: normal;

	border: 1px solid rgba($color: #ffffff, $alpha: 0.1);

	background-image: url('../../img/clock.svg');
	background-repeat: no-repeat;
	background-position: 20px 50%;
	background-size: 58px 57px;

	@media (min-width: $tablet-width) {
		width: 100%;
		padding: 45px 100px 45px 185px;

		text-transform: uppercase;
		font-weight: bold;
		font-size: 30px;

		background-position: 30px 50%;
		background-size: 72px 71px;

		& br {
			display: none;
		}
	}

	@media (min-width: $desktop-width) {
		grid-area: c;
		width: 270px;
		padding: 220px 70px 25px 70px;
		font-size: 20px;
		text-transform: none;
		text-align: center;

		background-position: 50% 35px;
		background-size: 142px 139px;
	}
}
