// Фаил variables.scss

$tablet-width: 768px;
$desktop-width: 1200px;

html {
	--bg-darkgrey: #292929;
	--bg-lightgrey: #f8f5f2;
	--body-font-color: #f7f4f1;
}


// Фаил mixins.scss

@mixin reset-list {
	margin: 0;
	padding: 0;

	list-style: none;
}


// Фаил mail-style.scss

body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-size: 18px;
	line-height: 27px;
	font-family: Arial, sans-serif;
	color: var(--body-font-color);
	font-style: normal;

	background-color: var(--bg-darkgrey);
}

img {
	max-width: 100%;
	height: auto;
}


// Фаил page-header.scss

.page-header {
	display: flex;
	flex-direction: column;
}

.page-header__logo {
	height: 85px;

	@media (min-width: $tablet-width) {
		order: 2;
		height: 400px;
	}

	@media (min-width: $desktop-width) {
		height: 648px;
	}
}


// Фаил main-nav.scss

.main-nav {
	width: 320px;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: auto;
		margin: 0;
	}
}

.main-nav__wrapper {
	@media (min-width: $tablet-width) {
		display: flex;
		justify-content: space-between;
		width: 640px;
		margin: 0 auto;
	}

	@media (min-width: $desktop-width) {
		width: 960px;
	}
}

.main-nav__list {
	@include reset-list();
}

.site-list {
	@media (min-width: $tablet-width) {
		width: 570px;
	}

	@media (min-width: $desktop-width) {
		width: 780px;
	}
}

.user-list {
	@media (min-width: $tablet-width) {
		width: 60px;
	}

	@media (min-width: $desktop-width) {
		width: 160px;
	}
}


// Фаил block/stats.scss

.stats {
	width: 320px;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: 640px;
		margin-top: -185px;
	}

	@media (min-width: $desktop-width) {
		display: flex;
		width: 960px;
		margin-top: -160px;
	}
}

.stats__header {
	padding: 30px 40px 25px 40px;

	@media (min-width: $desktop-width) {
		width: 240px;
		flex-shrink: 0;
	}
}

.stats__list {
	width: 100%;

	@media (min-width: $tablet-width) {
		display: flex;
	}
}
