.main-nav {
	width: 320px;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: auto;
		margin: 0;
	}
}

.main-nav__button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 70px;
	height: 50px;
	padding: 0;

	border: none;
	background-color: #6a4d38;

	&--burger {
		position: relative;
		width: 36px;
		height: 2px;
		background-color: #ffffff;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background: #ffffff;
			transform-origin: 50% 50%;
			transition: top .2s .2s, transform .2s;
		}

		&::before {
			top: 10px;
		}

		&::after {
			top: -10px;
		}
	}

	&--open {
		background: 0 0;
		transition: background .2s 0;

		&::before,
		&::after {
			top: 0;
			transition: top .2s, transform .2s .4s;
		}

		&::before {
			transform: rotate3d(0,0,1,45deg);
		}

		&::after {
			transform: rotate3d(0,0,1,-45deg);
		}
	}

	@media (min-width: $tablet-width) {
		display: none;
	}

}

.main-nav__wrapper {
	@media (min-width: $tablet-width) {
		display: flex;
		justify-content: space-between;
		width: 640px;
		margin: 0 auto;
	}

	@media (min-width: $desktop-width) {
		width: 960px;
	}
}

.main-nav__list {
	@include reset-list();
}
