.stats {
	width: 320px;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: 640px;
		// margin-top: -185px;
	}

	@media (min-width: $desktop-width) {
		display: flex;
		width: 960px;
		// margin-top: -160px;
	}
}

.stats__header {
	padding: 30px 40px 25px 40px;

	@media (min-width: $desktop-width) {
		width: 240px;
		flex-shrink: 0;
	}
}

.stats__list {
	width: 100%;

	@media (min-width: $tablet-width) {
		display: flex;
	}
}
