$phone-width: 320px;
$phone-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1299px;
$desktop-width: 1300px;

$phone-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 40px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

html {
	--dark-grey-color: #292929;
	--mid-grey-color: #353535;
	--light-grey-color: #404040;
	--milk-white-color: #f8f5f2;
	--dark-send-color: #6a4d38;
	--light-send-color: #826550;
	--border-grey-color: #4f4f4f;
}
